body,html{
	margin: 0;
	padding: 0;
    height: 100%;
}
@font-face {
    font-family: Lato-Bold;
    src: url(fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: MyriadPro-Regular;
    src: url(fonts/MyriadPro-Regular.otf);
}
@font-face {
    font-family: OpenSans;
    src: url(fonts/OpenSans.ttf);
    font-weight: bold;
}
@font-face {
    font-family: OpenSansLight;
    src: url(fonts/OpenSansLight.ttf);
}
.nav a{
    color: white;
}
.navbar{
    transition: 0.5s ease;
}
.navbar-right,.navbar-brand{
    font-family: MyriadPro-Regular;
    font-size: 15px;    
}
.navbar-right{
    font-size: 20px;    
}
.navbar-brand{    
    transition: 0.5s ease;
    font-size:36px;
    color: #dc0000;
}
.container-fluid ul.nav{transition: 0.5s ease;}
.openerNavBar{
    transition: 0.5s ease;
    float: right; 
    background-color: #dc0000; /* Red color of  */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    display: none;
}
@media (max-width: 768px){
    .openerNavBar{display: block;}
    .container-fluid ul.nav{
        display: none;
    }
}
.affix {
    transition: 0.5s ease;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 9999 !important;
    font-size: 10px;
    padding: 10px;
    color: grey;
    border-radius: 2px;
}
.affix .nav a{color: grey}
.affix-top{
    transition: 0.5s ease;
}
.affix + .container-fluid {
    padding-top: 70px;
}
.parallax{height: 100%;}

.parallax,
.parallax1,
.parallax2{ 
    background:white url('../img/mainBg.jpg');
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.overlay{
    z-index:1;
    background-color: black;
}
.titles{
    z-index: 9998 !important;
    margin: 0 auto;
    margin-top:40vh;
    transition: 0.5s ease;
}
.titles p{
    text-align: center;
    color: white;   
    font-size: 30px;    
    font-family: OpenSansLight;
    transition: 0.5s ease;
}
.titles p:nth-child(2){
    font-size: 45px;    
    font-family: OpenSans;
    transition: 0.5s ease;
}
.titles a{
    transition: 0.5s ease;
    font-size: 22px;    
    font-family: OpenSansLight;
    padding: 10px 30px;
    text-align: center;
    color: white;
    border: 2px solid white;
    display: block;
    margin: 0 auto;
    max-width: 220px;
    margin-top:40px;   
    border-radius:2px;

}
.titles a:hover{
    cursor: pointer;
    background-color:#dc0000;
    text-decoration: none;
    border-color:#dc0000; 
}

@media (max-width: 768px){
    .container-fluid ul.nav{
        display: none;
    }
    .titles{

    }
}
@media (max-width: 550px){
    .titles{
        margin-top:32vh; 
    }
}
@media (max-width: 450px){
    .titles{
        margin-top:27vh; 
    }
    .titles p{
        font-size: 20px;
    }

    .titles p:nth-child(2){
        font-size: 35px;
    }
}
.parallax1{
    background: white;
    background-image: url('../img/trend.png'); 
}
.parallax2{
    background-image: url('../img/subscribeBg.jpg'); 
    width: 100%;
    height: auto;min-height: 100px;
}
.products{
    min-height: 500px; 
    padding: 25px 0;
}
.titleContent  p{
    margin: 0;
    text-align: center;
    font-size: 30px;
    font-family: OpenSansLight;
    font-style: italic;
}
.titleContent {
    width: 100%;
    height: auto;
    text-align: center;
    padding:20px;
    font-size: 45px;
    position: relative;
    z-index: 1;
}

.titleContent:before {
    content: '';
    width: 10%;
    border-bottom: solid 3px red;
    position: absolute;
    left: 45%;
    top: 0;
    z-index: 4;
}
.titleContent:after {
    content: '';
    width: 10%;
    border-bottom: solid 3px red;
    position: absolute;
    left: 45%;
    bottom: 0;
    z-index: 4;
}
.galleryHover{
    position: relative; 
    margin:0px;    
}
.galleryHover img{
    width: 100%;
    height: 100%;
}
.galleryPadding{
    margin: 0 5px  ;
    position: relative;
}
.onImage{
    display: -webkit-flex;
    background-color: rgba(34,37,51,0.6);
    font-size: 36px;
    font-style: italic;
    font-family: MyriadPro-Regular;
    position: absolute;
    top: 0;
    color: #fff;
    width: 100%;
    height: 100%;
    text-align: center;
    box-sizing: border-box;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    transition: 0.5s ease;
}
.insideBorder{
    outline: 4px solid rgb(255,255,255);
    outline-offset: -30px;
}
.onImage+.other{
    margin: 0 10px;
}
.other{
    font-size: 45px;
    font-style: inherit;
    font-family: Lato-Bold;
}


.lines {
    width: 100%;
    height: auto;
    text-align: center;
    padding:20px;
    font-size: 45px;
    position: relative;
    z-index: 1;
}

.lines p{transition: 0.5s ease;}
.lines:before {
    transition: 0.3s ease;
    content: '';
    width: 40%;
    border-bottom: solid 1px white;
    position: absolute;
    left: 30%;
    top: 0;
    z-index: 4;
}
.lines:after {
    transition: 0.3s ease;
    content: '';
    width: 40%;
    border-bottom: solid 1px white;
    position: absolute;
    left: 30%;
    bottom: 0;
    z-index: 4;
}

.onImage:hover{
    outline-offset: 0;
    background-color: transparent;
    opacity:0;
}

.onImage:hover .lines:before {
    width: 100%;
    left: 0;
}
.onImage:hover .lines:after {
    width: 100%;
    left: 0;
}

.onImage:hover .lines p{
    margin: 25% 0 25% 0;
}

.trand{margin-top: 25px}
.trand img{
    width: 100%;
    height: 100%;
}
.trendContent{
    /*padding: 20px 10px;*/
    font-family: OpenSansLight;
}

.trendContent .title{
    font-size: 30px;
    font-family: OpenSans;
    padding: 10px 0 ;
    color:#dc0000;
}
.trendContent .subtitle ,.trendContent  .content{
    font-size: 18px;
    color: #777777;
}
.trendContent  .content{
    font-size: 20px;
}
.trendContent .key a{
    padding:10px 32px;
}
.downButtons{
    margin-left: 0; 
    display: inline-block;
}
.downButtons a{
    padding: 10px 23px;
    color: black;
    background: white;
    border:2px solid black;
}
.downButtons .half{
    margin: 0;
    float: left;
}
.halfUp{

    width: 100%;
}
.halfUp a{
    text-align: center;
    margin-right: 20px;
    width: 100%;
    transition: 0.5s ease;
}
.halfUp a:hover{text-decoration: none;cursor: pointer;}
.halfUp a:active{
    text-decoration: none;
    color: white;
    background-color: black
}

@media (max-width: 473px){
    .halfUp a, .trendContent .key a{
        margin-right: 5px;
        font-size: 17px;
        padding:5px 16px;
    }
    .lines{
        font-size: 31px;
    }
}
.blog{
    padding: 25px 0 ;
    position: relative;
}
.blogImg img{
    width: 100%;

}
.trendContent{
    font-family: OpenSansLight;
    padding-left: 10px
}
.blogContent .title{
    font-size: 30px;
    font-family: OpenSans;
    padding: 10px 0 ;
    color:#dc0000;
}
.blogContent .subtitle, .blogContent .content{
    font-size: 18px;
    color: rgba(51,51,51,0.6);
}
.blogHalfUp a{
    font-size: 21px;
    border: 1px solid black;
}
.halfUp a:hover{
    text-decoration: none;
    color: white;
    background-color: #dc0000;
    border-color:#dc0000; 
}
.subs{
    min-height: 240px;
    position: relative;
    background-image: url(../img/subscribeBg.jpg);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contentSub{
    font-family: OpenSansLight;
    font-size: 18px;
    position: absolute;
    padding: 70px;
    top: 0;
    left: 0;
    background-color: rgba(37,40,78,0.7);
    width: 100%;
    height:100%;
    color: white;
}
.input {
    padding: 20px;
    height: auto;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid white;
}

.input .email{width: auto;}
.email span{margin-right: 20px;width: auto;height: 100%;}
.input img{width: auto;height: 100%;margin-bottom:4px;margin-right: 20px;  }
.input  input{
    background-color: transparent;
    border: 0px solid white;
    height: 100%;
    width: auto;
}
.footer{
    padding: 40px;
    height: auto;
    width: 100%;
    text-align: center;
}






































